<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/static/css/commit.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/css/docs.css" />
	
    <title>{% block title %}COMMIT VIVO Browser{% endblock %}</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/jquery.bootpag.js"></script>
</head>

<body>
    <div class="container" id="content">
        <div class='row'>
    		<div class='span12'>
	    		<div class='well'>
		    		<h4><a href='http://www.data2semantics.org'><img width='90px' src='/static/img/logo-no-text-150dpi.png'/></a><a href='http://www.commit-nl.nl'><img width='200px' src='/static/img/COMMIT_logo_RGB.png'/></a><div style='valign: top; display: inline;' class='lead'>VIVO Browser</div></h4>
	    		</div>
    		</div>
    	</div>
    	<div class='row'>
	    	<div class="navbar navbar-fixed">
			  <div class="navbar-inner">
			    <a class="brand" href="/">Pages</a>
			    <ul class="nav">
			      <li><a href="/projects">All Projects</a></li>
			      <li><a href="/groups">All Organizations</a></li>
			      <li><a href="/persons">All Persons</a></li>
			      <li><a href="/deliverables">All Deliverables</a></li>
			    </ul>
			  </div>
			</div>
    	</div>
    	{% block content %}{% endblock %}
        <div class='row'>
        	<div class='span12'>
        		<div style='text-align: center'>
        			<img style='height:100px; padding-top: 50px;' src='/static/img/elaborate-logo-150dpi.png'/>
        		</div>
        	</div>
        </div>
    </div>
	<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
