{% extends "base.html" %}


{% block content %}




{% with group|first as bio %}



<p class='lead' style='text-align: center'>{{ bio.label }}</p>

<table class="table table-striped" style='table-layout:fixed'>
<col class="property" width="200px"/><col class="value"/>
{% if parts|length > 0 %}
	{% for uri,label in parts.items %}
		{% if forloop.first %}
			<tr><th>Parts</th>
		{% else %}
			<tr><td></td>
		{% endif %}
		<td><a href="/group/{{ uri }}">{{ label }}</a></td></tr>
	{% endfor %}
{% endif %}

{% if partOf|length > 0 %}
	{% for uri,label in partOf.items %}
		{% if forloop.first %}
			<tr><th>Part of</th>
		{% else %}
			<tr><td></td>
		{% endif %}
		<td><a href="/group/{{ uri }}">{{ label }}</a></td></tr>
	{% endfor %}
	</ul>
{% endif %}
{% include "persons.html" %}
{% include "deliverable_rows.html" %}
</table>


{% endwith %}



{% endblock %}