{% extends "base.html" %}


{% block content %}



<p class='lead' style='text-align: center'>{{ details.bio.name }} {% if details.bio.firstname %}({{ details.bio.firstname }}){% endif %}</p>

{% if details.bio.image != 'none'%}
	<p style='text-align: center'><img src='{{ details.bio.image }}' style='height: 150px'/></p>
{% endif %}
<table class="table table-striped" style='table-layout:fixed'>
	<col class="property" width="200px"/><col class="value"/>
	{% if details.bio.email %}
	<tr>
		<th>email</th><td><a href="mailto:{{ details.bio.email }}">{{details.bio.email}}</a></td>
	</tr>
	{% endif %}
	{% if details.bio.homepage %}
	<tr>
		<th>www</th><td><a href="{{ details.bio.homepage }}">{{details.bio.homepage}}</a></td>
	</tr>
	{% endif %}
	

	{% for uri,group in details.organizations.iteritems() %}
		<tr>
			{% if loop.first %}
				<th>Organizations</th>
			{% else %}
				<td></td>
			{% endif %}
			<td><a href="/group/{{ uri|urlencode }}">{{ group.label }}</a>
				{% for position in group.roles %}
					{% if loop.length > 1 %}
						{% if loop.first %}
							({{ position }}, 
						{% elif loop.last %}
							{{ position }})
						{% else %}
							{{ position }},
						{% endif %}
					{% else %}
						({{ position }})
					{% endif %}
				{% endfor %}
				
			</td>
		</tr>
	{% endfor %}
	
	{% for uri,group in details.groups.iteritems() %}
		<tr>
			{% if loop.first %}
				<th>Projects & Groups</th>
			{% else %}
				<td></td>
			{% endif %}
			<td><a href="/group/{{ uri|urlencode }}">{{ group.label }}</a>
				{% for position in group.roles %}
					{% if loop.length > 1 %}
						{% if loop.first %}
							({{ position }}, 
						{% elif loop.last %}
							{{ position }})
						{% else %}
							{{ position }},
						{% endif %}
					{% else %}
						({{ position }})
					{% endif %}
				{% endfor %}
				
			</td>
		</tr>
	{% endfor %}
</table>


{% endblock %}